.scGauge {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.scBackground {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
  background-color: var(--medium-grey);
  border-radius: 150px 150px 0 0;
  overflow: hidden;
  text-align: center;
}

.scMask {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  height: 80px;
  background-color: white;
  border-radius: 150px 150px 0 0;
}

.scPercentage {
  position: absolute;
  top: 100px;
  left: -200%;
  width: 400%;
  height: 400%;
  margin-left: 100px;
  background-color: var(--red);
}

.scPercentage {
  transform: rotate(var(--angle));
  transform-origin: top center;
}

.scMin {
  float: left;
}

.scMax {
  float: right;
}

.scValue {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
}
