.advice {
  border: 1px solid var(--border-grey);
  padding: 20px;
  margin: 2px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  font-size: var(--font-s);
  list-style: none;
  margin-bottom: 15px;
}

.containerAdvice {
  padding: 15px;
  border-radius: 10px;

  font-size: var(--font-s);
  list-style: none;
  margin-bottom: 50px;
}
