.creditScoreForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 15px;
  line-height: 15px;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border-grey);
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.radioContainer div {
  margin-right: 20px; /* Adjust the spacing between the radio buttons */
}

.radioContainer label {
  margin-right: 10px;
  align-items: center;
}
